{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Entry</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="entry_name" name="entry_name" minlength="5" maxlength="50"
                           type="text" class="validate" required>
                    <label for="entry_name">Entry Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="entry_description" name="entry_description" minlength="5"
                              maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="entry_description">Entry Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="date" name="date" class="datepicker validate"
                           type="text" required>
                    <label for="entry_name">Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <!-- Switch -->
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                        <label for="half_day">
                            <input type="checkbox" id="half_day" name="half_day">
                            <span class="lever"></span>
                            Half Day
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}