{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username.username }}'s Profile
            </h3>
            <h3>
                <strong>
                        Vacation days left: {{ username.vacation_days }}
                    </strong>
            </h3>
            <h3>
                <strong>
                        First Name: {{ username.first_name }}
                    </strong>
            </h3>
            <h3>
                <strong>
                        Last Name: {{ username.last_name }}
                    </strong>
            </h3>
            <h3>
                <strong>
                        Email address: {{ username.email_address }}
                    </strong>
            </h3>

            <a href="{{ url_for('profile_update', username=username) }}" class="btn-small blue accent-4">
                    Update Profile Info
                </a>
<!--            <a href="{{ url_for('delete_profile', username=username) }}" class="btn-small red accent-4">-->
<!--                                Delete Profile-->
<!--                            </a>-->
            <button class="btn-small red accent-4" onclick="document.getElementById('delete_popup').style.display='block'">Delete Profile</button>

            <div id="delete_popup" class="modal">
                <span onclick="document.getElementById('delete_popup').style.display='none'" class="close" title="Close Modal">&times;</span>
                <form class="modal-content" action="{{ url_for('delete_profile', username=username) }}">
                    <div class="container">
                        <h1>Delete Account</h1>
                        <p>Are you sure you want to delete your account?</p>

                        <div class="clearfix">
                        <a href="{{ url_for('profile', username=username) }}" class="btn-small blue accent-4">
                                            Cancel
                                        </a>
                        <a href="{{ url_for('delete_profile', username=username) }}" class="btn-small red accent-4">
                                            Delete Profile
                                        </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}